:root {
    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%);
  }

  @font-face {
    font-family: Outfit;
    src: url("Outfit-Regular.ttf");
  }

  body { 
    font-family: Outfit; 
    background: var(--Light-gray);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  img {
    width: 100%;
    object-fit: cover;
    border-radius: 1rem;
  }

  h1 {
    font-size: 1.2rem;
    font-weight: bolder;
  }

  p {
    font-size: 1rem;
    margin-top: 1rem;
    color: var(--Grayish-blue)
  }

  .container { 
    width: 23rem; 
    padding: 1rem; 
    background: var(--White);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 1.5em;
   }

   .textbox {
    text-align: center;
    margin: 1rem;
   }